section {
  width: 100%;
  height: auto;

  background-color: var(--background-color-page);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

}

section .categoria {
  position: absolute;

  margin: 0.6%;

  width: 13%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;

  top: 0;
  left: 0;

}

section .categoria .bloco-categoria {
  width: 100%;
  height: auto;
  min-height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--background-color-page3);

  border-radius: 5px;
  border: 1px solid var(--border-style-search);

  box-shadow: 0px 1px 3px -2px var(--box-shadow);

}

section .categoria .bloco-categoria .dados-produto {
  padding: 3%;

  width: 94%;
  height: auto;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}

section .categoria .bloco-categoria .dados-produto input {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
  font-family: var(--font-montiserrat);

  margin-top: 0.5rem;

  color: var(--text-color-black);

  border: none;

  padding: 2% 0%;

  width: 100%;
  height: auto;

  outline: none;

}

section .categoria .bloco-categoria .botao {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;

}

section .categoria .bloco-categoria .botao .button {
  cursor: pointer;

  background-color: var(--background-color-orange);

  padding: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;

  width: 94%;
  height: auto;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color, 0.2s ease-in-out;

}

section .categoria .bloco-categoria .botao .button:hover {
  background-color: var(--background-color-orange-hover);

}

section .categoria .bloco-categoria .botao .button p {
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--font-montiserrat);

  color: var(--text-color-botao-white);

  margin: 0;
  margin-left: 5%;

}

section .categoria .bloco-categoria .botao .button .img {
  padding: 0%;

  width: 10%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .categoria .bloco-categoria .botao .button .img svg {
  width: 100%;
  height: auto;

  color: var(--text-color-botao-white);

}


section .categoria .bloco-categoria .botao .editar-produto {
  cursor: pointer;

  background-color: var(--background-color-black);

  padding: 3%;
  margin-bottom: 3%;
  margin-right: 3%;

  width: 15%;
  height: 5vh;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color, 0.2s ease-in-out;

}

section .categoria .bloco-categoria .botao .editar-produto .img {
  padding: 0%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .categoria .bloco-categoria .botao .editar-produto .img svg {
  width: 100%;
  height: auto;

  color: var(--text-color-orange);

}

section .lista-produtos {
  width: 70%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-wrap: wrap;

}

section .lista-produtos .bloco {
  margin: 0.8% 0.5%;

  width: 24%;
  height: auto;
  min-height: 60vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--background-color-page3);

  border-radius: 5px;
  border: 1px solid var(--border-style-search);

  box-shadow: 0px 1px 3px -2px var(--box-shadow);

}

section .lista-produtos .bloco .img {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  padding: 10%;

  width: 80%;
  height: 35vh;

}

section .lista-produtos .bloco .novo-produto {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  padding: 10%;

  width: 50%;
  height: 25vh;

  filter: opacity(25%);

}

section .lista-produtos .bloco .dados-produto {
  padding: 3%;

  width: 94%;
  height: auto;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}

section .lista-produtos .bloco .dados-produto p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
  font-family: var(--font-montiserrat);

  margin-top: 0.5rem;

  color: var(--text-color-black);

}

section .lista-produtos .bloco .dados-produto h3 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;

  margin-bottom: 0.25rem;
  margin-top: 0.25rem;

  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 700;
  font-family: var(--font-montiserrat);

  height: 1.25rem;

  color: var(--text-color-orange);

}

section .lista-produtos .bloco .dados-produto strong {
  display: flex;
  -webkit-box-align: center;
  align-items: center;

  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;

  height: 0.75rem;

  color: var(--text-color-pix);

}

section .lista-produtos .bloco .dados-produto label {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
  font-family: var(--font-montiserrat);

  margin-top: 0.5rem;

  color: var(--text-color-black);

}

section .lista-produtos .bloco .dados-produto input {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
  font-family: var(--font-montiserrat);

  margin-top: 0.5rem;

  color: var(--text-color-black);

  border: none;

  padding: 2% 0%;

  width: 100%;
  height: auto;

  outline: none;

}

section .lista-produtos .bloco .dados-produto select {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
  font-family: var(--font-montiserrat);

  margin-top: 0.5rem;

  color: var(--text-color-black);

  border: none;

  padding: 2% 0%;

  width: 100%;
  height: auto;

  outline: none;

}

section .lista-produtos .bloco .botao {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;

}

section .lista-produtos .bloco .botao .button {
  cursor: pointer;

  background-color: var(--background-color-orange);

  padding: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;

  width: 94%;
  height: auto;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color, 0.2s ease-in-out;

}

section .lista-produtos .bloco .botao .button:hover {
  background-color: var(--background-color-orange-hover);

}

section .lista-produtos .bloco .botao .button p {
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--font-montiserrat);

  color: var(--text-color-botao-white);

  margin: 0;
  margin-left: 5%;

}

section .lista-produtos .bloco .botao .button .img {
  padding: 0%;

  width: 10%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .lista-produtos .bloco .botao .button .img svg {
  width: 100%;
  height: auto;

  color: var(--text-color-botao-white);

}


section .lista-produtos .bloco .botao .editar-produto {
  cursor: pointer;

  background-color: var(--background-color-black);

  padding: 3%;
  margin-bottom: 3%;
  margin-right: 3%;

  width: 15%;
  height: 5vh;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color, 0.2s ease-in-out;

}

section .lista-produtos .bloco .botao .editar-produto .img {
  padding: 0%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .lista-produtos .bloco .botao .editar-produto .img svg {
  width: 100%;
  height: auto;

  color: var(--text-color-orange);

}
